<%= form_for(@worker) do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Surname %><br>
    <%= f.text_field :Surname %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Superior %><br>
    <%= f.text_field :Superior %>
  </div>
  <div class="field">
    <%= f.label :Phone %><br>
    <%= f.number_field :Phone %>
  </div>
  <div class="field">
    <%= f.label :Login %><br>
    <%= f.text_field :Login %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
