<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @worker.Name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @worker.Surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @worker.Email %>
</p>

<p>
  <strong>Superior:</strong>
  <%= @worker.Superior %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @worker.Phone %>
</p>

<p>
  <strong>Login:</strong>
  <%= @worker.Login %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
